$c_primary: #1E6A9F;
$c_secondary: #FED55D;
$c_third: #0a5378;
$ff_primary: "Nova Round";
$title-color: #222;
$font-color: #777;
$light-gray: #eee;
$primary: #E91E63;
$secondary: #42A5F5;
$product-box-shadow: #777;
